<div class="control-group">
	<div class="controls">
		<button class="btn btn-primary" data-bind="click: function(){ startLoop() }">{{ _('Start Scans') }}</button><br/>
		<span  id="majigfirealarm-span">Hello</span>
	</div>
</div>
